.animatioPhoto1{
    
    animation:  fadeInAnimation ease 20s infinite;
    animation-delay: 5s;
    background: url(photo1.png);
    height: 541px;
    width: 250px;
    margin-top: 500px;

}
@keyframes fadeInAnimation {
    0%{ background:url(photo1.png) ; }
    25%{ background:url(photo2.png) ; }
    50%{ background: url(photo3.png);}
    75%{ background: url(photo4.png);}
    100%{ background:url(photo1.png) ; }
    
    
    
    


}